@media (max-width: 1100px) {
  .hotel-slider {
    max-width: 650px;
  }
  .logo {
    width: 132px;
  }
  .navbar-top {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .navbar__search {
    margin-left: auto;
  }
  .navbar-menu {
    padding-top: 22px;
    padding-bottom: 22px;
  }
  .navbar-menu__link {
    font-size: 12px;
    line-height: 15px;
  }
  .search__input {
    width: 340px;
  }
  .card {
    width: 230px;
    height: 230px;
  }
}

@media (max-width: 1000px) {
  .card {
    width: 220px;
  }
  .footer__input {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

@media (max-width: 960px) {
  .hotel-grid {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .hotel-right {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 30px;
  }
  .hotel-slider {
    margin: 0;
    max-width: 100%;
  }
  .hotel-slider__item__img {
    width: 100%;
  }
  .booking {
    width: 50%;
    margin-right: 15px;
  }
  .map {
    width: 50%;
    margin-left: 15px;
  }
  .reviews-title {
    font-size: 30px;
    line-height: 38px;
    margin-bottom: 50px;
  }
  .reviews-slider__item {
    max-width: 580px;
  }
  .activities {
    padding: 40px 0 60px 0;
  }
  .activities-wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .activities__card {
    margin-bottom: 20px;
  }
  .card {
    width: 48%;
    height: 230px;
  }
  .footer-wrapper {
    -ms-grid-columns: (1fr)[6];
        grid-template-columns: repeat(6, 1fr);
    grid-row-gap: 40px;
  }
  .footer__logo {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 /2;
    grid-column: span 2;
    width: 104px;
  }
  .footer__social-network {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
    grid-column: span 4;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .footer__categories {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
    grid-column: span 2;
  }
  .footer__additional {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
    grid-column: span 2;
  }
  .footer__legal {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
    grid-column: span 2;
  }
  .footer__contact-details {
    -ms-grid-row: 3;
    grid-row: 3;
    grid-column: span 4;
  }
  .footer__contact-form {
    -ms-grid-row: 4;
    grid-row: 4;
    grid-column: span 4;
  }
  .footer__input {
    -ms-flex-preferred-size: 49%;
        flex-basis: 49%;
  }
  .footer__bottom--links {
    margin: 0;
  }
}

@media (max-width: 800px) {
  .footer__input {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

@media (max-width: 640px) {
  .navbar__search, .navbar-menu, .navbar__user {
    display: none;
  }
  .menu-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    width: 16px;
    height: 11px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border: none;
    background-color: #fff;
    cursor: pointer;
  }
  .menu-button__line {
    width: 16px;
    height: 1px;
    background-color: #333;
  }
  .hotel-name {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .hotel-wrapper {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .hotel-info__text {
    width: 100%;
  }
  .hotel-info__name {
    margin-top: 10px;
  }
  .hotel-info__rating {
    display: none;
  }
  .hotel-info__offer {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin: 0;
  }
  .hotel-right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hotel-slider {
    height: 300px;
  }
  .hotel-slider__item {
    height: 100%;
  }
  .booking {
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
  }
  .map {
    width: 100%;
    margin-left: 0;
  }
  .stars {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
  }
  .newsletter {
    padding: 76px 15px 33px 15px;
  }
  .newsletter-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .newsletter-title {
    margin-bottom: 37px;
    font-size: 20px;
    line-height: 25px;
  }
  .newsletter-title__strong {
    margin-top: 5px;
    font-size: 30px;
    line-height: 38px;
  }
  .newsletter__subscribe {
    width: 70%;
  }
  .reviews-title {
    font-size: 18px;
    line-height: 23px;
  }
  .reviews-slider__item {
    padding: 0 30px 30px;
  }
  .reviews-slider__item:after, .reviews-slider__item:before {
    display: none;
  }
  .reviews-slider__button {
    top: 32px;
  }
  .reviews-slider__button--prev {
    margin-left: -65px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
  .reviews-slider__button--next {
    margin-right: -65px;
    right: 50%;
    -webkit-transform: translate(50%, 0);
            transform: translate(50%, 0);
  }
  .activities__title {
    font-size: 18px;
    line-height: 23px;
    margin-bottom: 36px;
  }
  .card {
    width: 100%;
  }
  .footer-wrapper {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .footer__logo {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 1;
    grid-column: 1;
  }
  .footer__social-network {
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 1;
    grid-column: 1;
  }
  .footer__legal {
    -ms-grid-row: 3;
    grid-row: 3;
    -ms-grid-column: 1;
    grid-column: 1;
  }
  .footer__additional {
    -ms-grid-row: 4;
    grid-row: 4;
    -ms-grid-column: 1;
    grid-column: 1;
  }
  .footer__categories {
    -ms-grid-row: 5;
    grid-row: 5;
    -ms-grid-column: 1;
    grid-column: 1;
  }
  .footer__contact-details {
    -ms-grid-row: 6;
    grid-row: 6;
    -ms-grid-column: 1;
    grid-column: 1;
  }
  .footer__contact-form {
    -ms-grid-row: 7;
    grid-row: 7;
    -ms-grid-column: 1;
    grid-column: 1;
  }
  .footer__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .footer__bottom--links {
    margin-bottom: 10px;
  }
  .footer__bottom--image {
    position: relative;
  }
}

@media (max-width: 576px) {
  .logo {
    width: 99px;
  }
  .newsletter__subscribe {
    width: 100%;
  }
}

@media (max-width: 460px) {
  .hotel-slider {
    height: 210px;
  }
}
/*# sourceMappingURL=media.css.map */