* {
  box-sizing: border-box;
}

body {
  font-family: 'Mulish', sans-serif;
  color: #333333;
  background-color: #f5fafe;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

img {
  max-width: 100%;
}

.input {
  background-color: #ffffff;
  border-radius: 4px;
  border: none;
  padding: 0 23px;
  height: 50px;
  outline: none;
}

.form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.message {
  background-color: #fff;
  border-radius: 4px;
  border: none;
  padding: 18px 23px;
  width: 100%;
  resize: none;
  outline: none;
}

.button {
  min-width: 120px;
  min-height: 50px;
  padding: 18px;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  border-radius: 4px;
  border: none;
  outline: none;
  color: #ffffff;
  background-color: #EC1F46;
  cursor: pointer;
}

.button:hover {
  background-color: #BB1535;
}

.invalid {
  color: #EC1F46;
}

@media (min-width: 992px) {
  a:hover {
    color: inherit;
  }
  button:hover {
    background-color: inherit;
  }
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

.navbar {
  background-color: #fff;
}

.navbar-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 40px;
}

.navbar-top__menu-button {
  display: none;
  outline: none;
}

.navbar__search {
  margin-right: auto;
  margin-left: 108px;
}

.navbar-menu {
  list-style-type: none;
  margin: 0;
  padding: 31px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-menu__link {
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.navbar-menu__link:hover {
  color: #EC1F46;
}

.navbar-menu__item--mobile--visible {
  display: none;
}

.navbar-bottom {
  background-color: #0A223D;
}

.logo {
  width: 177px;
}

.search {
  display: flex;
  position: relative;
  overflow: hidden;
  border-radius: 6px;
}

.search__input {
  width: 350px;
  height: 40px;
  padding-left: 23px;
  padding-right: 75px;
  background-color: #F5FAFE;
  border: none;
  outline: none;
  font-size: 12px;
  line-height: 15px;
  color: #333333;
}

.search__button {
  position: absolute;
  height: 100%;
  width: 65px;
  top: 0;
  right: 0;
  border: none;
  background-color: #EC1F46;
  cursor: pointer;
  outline: none;
}

.search__button:hover {
  background-color: #BB1535;
}

.user {
  display: flex;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
}

.user__avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.user__name {
  margin-left: 18px;
  color: #333333;
}

.breadcrumb-list {
  display: flex;
  align-items: center;
  padding: 18px 0;
  margin: 0;
  list-style: none;
}

.breadcrumb-list__item {
  font-size: 10px;
  line-height: 13px;
}

.breadcrumb-list__item:not(:last-child)::after {
  content: '/';
  margin-right: 5px;
}

.breadcrumb-list__link {
  text-decoration: none;
  color: inherit;
}

.hotel {
  padding-top: 15px;
  padding-bottom: 70px;
}

.hotel-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
}

.hotel-info__offer {
  margin-left: 14px;
  margin-top: 4px;
}

.hotel-info__name {
  margin-top: 4px;
  margin-bottom: 0;
}

.hotel-info__description {
  margin: 2px 0;
}

.hotel-name {
  font-size: 24px;
  line-height: 30px;
}

.hotel-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.hotel-description {
  font-size: 12px;
  line-height: 15px;
}

.hotel-grid {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.hotel-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  margin-left: 15px;
}

.hotel-slider {
  max-width: 728px;
  margin-right: 15px;
}

.hotel-slider__item {
  width: 100%;
  height: 450px;
  position: relative;
  border-radius: 8px;
  background-repeat: no-repeat;
  overflow: hidden;
}

.hotel-slider__item::after {
  content: '';
  position: absolute;
  width: 100%;
  max-height: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 10;
  background: linear-gradient(180deg, rgba(0, 122, 223, 0.48) 0%, rgba(255, 255, 255, 0.128) 100%);
}

.hotel-slider__button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 99;
  width: 30px;
  height: 30px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  outline: none;
}

.hotel-slider__button--next {
  right: 18px;
  background-image: url(../img/arrow-next.svg);
}

.hotel-slider__button--prev {
  left: 18px;
  background-image: url(../img/arrow-prev.svg);
}

.stars {
  flex-basis: 100%;
}

.offer {
  font-size: 10px;
  line-height: 13px;
  padding: 4px 9px;
  background-color: #EC1F46;
  border-radius: 3px;
  color: #ffffff;
}

.rating {
  max-width: 65px;
  min-height: 45px;
  text-align: center;
  color: #ffffff;
  background-color: #EC1F46;
  border-radius: 4px;
}

.rating__text {
  font-size: 8px;
  line-height: 10px;
  margin-bottom: 2px;
}

.rating__counter {
  font-size: 14px;
  line-height: 18px;
}

.rating__small {
  font-size: 12px;
}

.swiper-slide__img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.booking {
  background-color: #0A223D;
  border-radius: 8px;
  min-height: 210px;
  color: #ffffff;
  padding: 28px;
}

.booking__info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 9px;
}

.booking__price {
  display: flex;
  flex-direction: column;
}

.booking__start {
  font-family: Nunito;
  font-size: 10px;
  line-height: 14px;
}

.booking__pricetag {
  font-family: Nunito;
  font-weight: 800;
  font-size: 24px;
  line-height: 33px;
}

.booking__per-room {
  font-family: Nunito;
  font-size: 12px;
  line-height: 16px;
}

.booking__text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: Nunito;
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 8px;
}

.booking__descriptor {
  margin-left: 10px;
}

.booking__call-centr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 17px;
}

.booking__heading {
  font-family: Nunito;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
}

.booking__number {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
}

.booking__num {
  font-family: Nunito;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
  margin-left: 8px;
}

.booking__button {
  width: 100%;
  height: 30px;
  font-family: Nunito;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  border: none;
  outline: none;
  border-radius: 4px;
  background-color: #EC1F46;
  color: #ffffff;
  cursor: pointer;
}

.map {
  position: relative;
  width: 100%;
  height: 210px;
  border-radius: 10px;
  overflow: hidden;
  z-index: 1;
}

.map__fluid {
  cursor: pointer;
}

.map-2 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}

.map-2.active {
  display: flex;
  z-index: 2;
}

.googlemap {
  width: 100%;
  height: 100%;
}

.newsletter {
  position: relative;
  padding: 105px 15px 87px 15px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.newsletter:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(10, 34, 61, 0.8);
}

.newsletter-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 731px;
  margin: auto;
}

.newsletter-title {
  color: #ffffff;
  font-weight: 300;
  font-size: 24px;
  line-height: 30px;
  margin: 0;
  z-index: 11;
}

.newsletter-title__strong {
  display: block;
  font-weight: 600;
  font-size: 36px;
  line-height: 45px;
  text-transform: uppercase;
}

.parallax-window {
  min-height: 100%;
  background: transparent;
}

.subscribe {
  position: relative;
  width: 350px;
  height: 55px;
  border-radius: 4px;
  overflow: hidden;
}

.subscribe__input {
  width: 100%;
  height: 100%;
  border: none;
  padding-left: 33px;
  padding-right: 55px;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  border-radius: 4px;
  outline: none;
}

.subscribe__input:invalid {
  margin-bottom: 10px;
}

.subscribe__button {
  position: absolute;
  min-width: 65px;
  right: 0;
  top: 0;
  height: 100%;
  border: none;
  background-color: #EC1F46;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  color: #ffffff;
  cursor: pointer;
  border-radius: 0px 4px 4px 0px;
  outline: none;
}

.subscribe__button:hover {
  background-color: #BB1535;
}

.reviews {
  padding: 40px 0 70px 0;
}

.reviews-title {
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 45px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 70px;
}

.reviews-slider__item {
  position: relative;
  background-color: #fff;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 730px;
  margin: 45px auto 0;
  padding: 0 62px 30px;
}

.reviews-slider__item:before {
  content: '';
  position: absolute;
  background-image: url(../img/quote-left.svg);
  background-repeat: no-repeat;
  left: 64px;
  top: 13px;
  width: 70px;
  height: 47px;
}

.reviews-slider__item:after {
  content: '';
  position: absolute;
  background-image: url(../img/quote-right.svg);
  background-repeat: no-repeat;
  right: 60px;
  top: 118px;
  width: 70px;
  height: 70px;
  z-index: 99;
}

.reviews-slider__profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -45px;
}

.reviews-slider__avatar {
  width: 90px;
  height: 90px;
  border-radius: 100%;
  object-fit: cover;
  margin-bottom: 9px;
}

.reviews-slider__username {
  margin: 0 0 10px;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  color: #EC1F46;
}

.reviews-slider__date {
  font-weight: normal;
  font-size: 10px;
  line-height: 13px;
}

.reviews-slider__rating {
  margin-bottom: 32px;
}

.reviews-slider__text {
  font-weight: normal;
  font-size: 12px;
  line-height: 160%;
  margin: auto;
  max-width: 537px;
}

.reviews-slider__button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 99;
  width: 30px;
  height: 30px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  outline: none;
  z-index: 99;
}

.reviews-slider__button--next {
  right: 18px;
  top: 150px;
  background-image: url(../img/chevron-right.svg);
}

.reviews-slider__button--prev {
  left: 18px;
  top: 150px;
  background-image: url(../img/chevron-left.svg);
}

.activities {
  padding: 53px 0 98px 0;
}

.activities__title {
  margin: 0;
  margin-bottom: 57px;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
}

.activities-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px 26px;
  width: 255px;
  height: 255px;
  border-radius: 6px;
  overflow: hidden;
}

.card:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(179.83deg, rgba(196, 196, 196, 0) 35.34%, #0A223D 99.85%);
  z-index: -1;
}

.card__image {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}

.card__title {
  margin-top: auto;
  color: #ffffff;
  margin-bottom: 18px;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
}

.card__button {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #ffffff;
  padding: 7px 22px;
  border: none;
  background-color: #EC1F46;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
}

.card__button:hover {
  background-color: #BB1535;
}

.packages {
  display: grid;
  align-items: center;
  padding: 45px 0 70px 0;
}

.packages__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 45px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 65px 0;
}

.packages-cards {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(3, 1fr);
}

.packages-cards__picture {
  height: 250px;
  width: 100%;
}

.packages-cards__card {
  position: relative;
  display: flex;
  justify-content: space-between;
  border-radius: 8px;
  overflow: hidden;
  flex-direction: column;
}

.packages-cards__card:first-child {
  flex-direction: row;
  grid-column: span 2;
}

.packages-cards__card:first-child .information {
  display: flex;
  flex-direction: column;
  padding: 46px 21px 30px 46px;
  max-width: 365px;
}

.packages-cards__card:first-child .information__text {
  display: block;
  max-height: 155px;
  margin-bottom: 34px;
  overflow-y: auto;
  margin: 0 0 34px 0;
  font-size: 14px;
  line-height: 160.6%;
  color: #ffffff;
}

.packages-cards__card:first-child .information-hotel__stars {
  display: block;
}

.packages-cards__card:first-child .packages-cards__picture {
  width: 100%;
  min-height: 100%;
}

.packages-cards__card:first-child .information-hotel__name {
  margin-top: 5px;
  margin-bottom: 27px;
}

.packages-cards__card:first-child .advantages {
  margin-bottom: 37px;
}

.packages-cards__card:first-child::before {
  content: 'Flash Offer';
  position: absolute;
  top: 26px;
  left: 0px;
  padding: 8px 12px;
  background-color: #EC1F46;
  color: #ffffff;
  border-radius: 0px 4px 4px 0px;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
}

.packages-cards__card::before {
  content: 'Flash Offer';
  position: absolute;
  top: 26px;
  left: 0px;
  padding: 4px 9px;
  background-color: #EC1F46;
  color: #ffffff;
  border-radius: 0px 4px 4px 0px;
  font-weight: 600;
  font-size: 8px;
  line-height: 10px;
}

.packages-cards__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.information {
  display: flex;
  flex-direction: column;
  padding: 30px 21px 25px 32px;
  background-color: #0A223D;
  width: 100%;
  height: 100%;
}

.information__text {
  display: none;
  margin: 0 0 34px 0;
  font-size: 14px;
  line-height: 160.6%;
  color: #ffffff;
}

.information__advantage {
  margin-bottom: 10px;
}

.information__book {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.information__icon {
  width: 14px;
  height: 14px;
  margin-right: 14px;
}

.information__descriptor {
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #ffffff;
}

.information__price {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  color: #ffffff;
}

.information__old-price {
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-decoration-line: line-through;
}

.information__pricetag {
  margin-top: 5px;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}

.information__button {
  padding: 10px 20px;
  align-items: center;
  max-width: 120px;
  min-height: 40px;
  background-color: #EC1F46;
  border: none;
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #ffffff;
  cursor: pointer;
}

.information-hotel {
  display: flex;
  flex-direction: column;
}

.information-hotel__stars {
  display: none;
}

.information-hotel__name {
  margin-bottom: 23px;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
}

.advantages {
  margin-bottom: 15px;
}

.footer {
  background-color: #0A223D;
  color: #ffffff;
  padding-top: 108px;
  padding-bottom: 46px;
}

.footer-wrapper {
  display: grid;
  grid-template-columns: repeat(4, minmax(min-content, 1fr));
  grid-gap: 20px;
  grid-auto-rows: minmax(40px, min-content);
  align-items: start;
}

.footer__logo {
  width: 154px;
  height: 180px;
  grid-row: 1 / 3;
  align-self: center;
}

.footer__categories {
  grid-row: 1 / 4;
}

.footer__additional {
  grid-row: 1 / 2;
  grid-column: 3 / 4;
}

.footer__legal {
  grid-row: 1 / 2;
  grid-column: 4 / 5;
  justify-self: end;
}

.footer__social-links {
  display: flex;
  justify-content: space-between;
  min-width: 83px;
}

.footer__social-network {
  display: flex;
  align-items: start;
  grid-row: 2 / 4;
  grid-column: span 2;
}

.footer__contact-details {
  grid-column: span 2;
}

.footer__contact-form {
  grid-column: span 2;
}

.footer__ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.footer__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  text-transform: uppercase;
  margin: 0 0 16px 0;
}

.footer__title--inline {
  margin: 0 43px 0 0;
}

.footer__title--mb-3 {
  margin-bottom: 34px;
}

.footer__item {
  display: flex;
  align-items: flex-start;
  font-weight: normal;
  font-size: 14px;
  line-height: 160%;
  color: #BDBDBD;
  text-decoration: none;
}

.footer__item--mb-1 {
  margin-bottom: 20px;
}

.footer__item--mb-2 {
  margin-bottom: 10px;
}

.footer__item--mb-5 {
  display: inline-block;
  margin-bottom: 5px;
}

.footer__item--mb-5:hover {
  color: #EC1F46;
}

.footer__item--mb-6:hover {
  color: #EC1F46;
}

.footer__icon {
  margin-right: 20px;
}

.footer__link {
  color: inherit;
  text-decoration: none;
}

.footer__link:hover {
  color: #BB1535;
}

.footer__text {
  margin-bottom: 22px;
  color: #BDBDBD;
  font-weight: normal;
  font-size: 14px;
  line-height: 160%;
}

.footer__input {
  width: 100%;
  margin-bottom: 28px;
}

.footer__input.invalid {
  margin-bottom: 10px;
}

.footer__input-group {
  flex-basis: 48%;
}

.footer__message {
  margin-top: 5px;
  margin-bottom: 22px;
}

.footer__info {
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  color: #E0E0E0;
}

.footer__button {
  min-width: 160px;
}

.footer-bot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.footer-bottom {
  position: relative;
  margin-top: 95px;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  grid-column: 2 / 5;
}

.footer-bottom__links {
  margin: auto;
}

.footer-bottom__link {
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
  margin-right: 12px;
  grid-column: 2/4;
}

.footer-bottom__image {
  position: absolute;
  right: 0;
  width: 136px;
  height: 22px;
}

.modal__overlay {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 143, 223, 0.39);
  z-index: 100;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s;
}

.modal__overlay.active {
  visibility: visible;
  opacity: 1;
}

.modal__dialog {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  padding: 33px 88px;
  max-width: 478px;
  min-height: 487px;
  height: min-content;
  background-color: #0A223D;
  color: #ffffff;
  border-radius: 8px;
  z-index: 101;
  overflow-y: auto;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s;
}

.modal__dialog.active {
  visibility: visible;
  opacity: 1;
}

.modal__close {
  position: absolute;
  right: 18px;
  top: 17px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

.modal__input {
  width: 100%;
  margin-top: 15px;
}

.modal__message {
  min-height: 123px;
  margin: 15px 0;
}

.modal__info {
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  color: #E0E0E0;
}

.modal__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}

@media (max-width: 1100px) {
  .hotel-slider {
    max-width: 650px;
  }
  .logo {
    width: 132px;
  }
  .navbar-top {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .navbar__search {
    margin-left: auto;
  }
  .navbar-menu {
    padding-top: 22px;
    padding-bottom: 22px;
  }
  .navbar-menu__link {
    font-size: 12px;
    line-height: 15px;
  }
  .search__input {
    width: 340px;
  }
  .card {
    width: 230px;
    height: 230px;
  }
  .packages-cards__card:first-child .information__text {
    font-size: 12px;
  }
}

@media (max-width: 1000px) {
  .card {
    width: 220px;
  }
  .footer__input {
    flex-basis: 100%;
  }
  .information__book {
    flex-wrap: wrap;
  }
  .information__price {
    width: 100%;
  }
  .information__button {
    margin-top: 15px;
  }
}

@media (max-width: 992px) {
  .search__button:hover {
    background-color: #EC1F46;
  }
  .navbar-menu__link:hover {
    color: #ffffff;
  }
  .booking__button:hover {
    background-color: #EC1F46;
  }
  .information__button:hover {
    background-color: #EC1F46;
  }
  .subscribe__button:hover {
    background-color: #EC1F46;
  }
  .card__button:hover {
    background-color: #EC1F46;
  }
  .footer__link:hover {
    color: #BDBDBD;
  }
  .footer__button:hover {
    background-color: #EC1F46;
  }
}

@media (max-width: 960px) {
  .container {
    padding: 0 30px;
  }
  .search__input {
    width: 320px;
    padding-left: 10px;
  }
  .hotel-grid {
    flex-direction: column;
    justify-content: space-between;
  }
  .hotel-right {
    flex-direction: row;
    margin-top: 30px;
    margin-left: 0px;
    height: 210px;
  }
  .hotel-slider {
    margin: 0;
    max-width: 100%;
  }
  .hotel-slider__item__img {
    width: 100%;
  }
  .booking {
    width: 50%;
    margin-right: 15px;
  }
  .map {
    width: 50%;
    margin-left: 15px;
  }
  .newsletter {
    padding: 96px 22px 93px 27px;
  }
  .reviews-title {
    font-size: 30px;
    line-height: 38px;
    margin-bottom: 50px;
  }
  .reviews-slider__item {
    max-width: 580px;
  }
  .reviews-slider__button--prev {
    left: 0;
    top: 170px;
  }
  .reviews-slider__button--next {
    right: 0;
    top: 170px;
  }
  .activities {
    padding: 40px 0 52px 0;
  }
  .activities-wrapper {
    flex-wrap: wrap;
  }
  .activities__card {
    margin-bottom: 20px;
  }
  .card {
    width: 48%;
    height: 255px;
  }
  .card__title {
    max-width: 160px;
  }
  .card:nth-of-type(4) .card__title {
    max-width: 200px;
  }
  .footer {
    padding-top: 71px;
  }
  .footer-wrapper {
    grid-template-columns: repeat(6, 1fr);
    grid-row-gap: 48px;
  }
  .footer__logo {
    grid-row: 1;
    grid-column: span 2;
    width: 95px;
    height: auto;
  }
  .footer__social-network {
    grid-row: 1 / 2;
    grid-column: span 4;
    align-self: center;
  }
  .footer__categories {
    grid-row: 2 / 3;
    grid-column: span 2;
  }
  .footer__additional {
    grid-row: 2 / 3;
    grid-column: span 2;
  }
  .footer__legal {
    grid-row: 2 / 3;
    grid-column: span 2;
  }
  .footer__contact-details {
    grid-row: 3;
    grid-column: span 6;
    padding-top: 15px;
  }
  .footer__contact-form {
    grid-row: 4;
    grid-column: span 5;
    padding-right: 36px;
  }
  .footer__input {
    flex-basis: 49%;
  }
  .footer-bottom {
    margin-top: 54px;
  }
  .footer-bottom__links {
    margin: 0;
  }
  .footer__text {
    margin: 14px 0;
  }
  .modal__dialog {
    padding: 15px 30px;
  }
  .packages-cards {
    grid-row-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 800px) {
  .footer__input-group {
    width: 100%;
  }
  .modal__button {
    width: 100%;
  }
  .modal__info {
    margin-top: 10px;
  }
}

@media (max-width: 768px) {
  .footer-wrapper {
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 46px;
    column-gap: 0px;
  }
  .footer__input {
    margin-bottom: 16px;
  }
  .footer__logo {
    width: 104px;
    height: 115px;
    margin-top: 0;
  }
  .footer__categories {
    grid-row: 2 / 3;
    grid-column: span 2;
    margin-left: 0;
  }
  .footer__additional {
    grid-column: span 2;
    margin-left: -33px;
  }
  .footer__social-network {
    grid-row: 1/2;
    grid-column: span 4;
    margin-top: 0;
    margin-left: -46px;
  }
  .footer__legal {
    grid-column: span 2;
    margin-right: 12px;
  }
  .footer__contact-details {
    grid-row: 3;
    grid-column: span 6;
    margin-left: 0;
    margin-top: 5px;
  }
  .footer__contact-form {
    grid-row: 4;
    grid-column: span 6;
    margin-top: 4px;
    margin-left: 0;
    padding-right: 0;
    max-width: 540px;
  }
  .footer__title--mb-3 {
    margin-bottom: 26px;
  }
}

@media (max-width: 640px) {
  .container {
    padding: 0 20px;
  }
  body {
    padding-top: 70px;
  }
  .navbar-top {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .navbar-mobile-fixed {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 99;
  }
  .navbar__search--mobile--hidden {
    display: none;
  }
  .navbar__search--mobile--visible {
    display: flex;
    margin-bottom: 39px;
  }
  .navbar__user {
    flex-direction: column;
    justify-content: center;
  }
  .navbar__user--mobile--hidden {
    display: none;
  }
  .navbar__user--mobile--visible {
    display: flex;
  }
  .navbar-bottom {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 78px;
    padding-top: 30px;
  }
  .navbar-bottom--visible {
    display: block;
    height: 100%;
    overflow-y: scroll;
  }
  .navbar-menu {
    flex-direction: column;
  }
  .navbar-menu__item {
    margin-bottom: 20px;
  }
  .navbar-menu__item--mobile--visible {
    display: block;
  }
  .menu-button {
    display: flex;
    padding: 0;
    width: 16px;
    height: 11px;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    border: none;
    background-color: #fff;
    cursor: pointer;
  }
  .menu-button__line {
    width: 16px;
    height: 1px;
    background-color: #333;
  }
  .user__name--light {
    color: #ffffff;
    margin-left: 0;
    margin-top: 10px;
  }
  .hotel {
    padding-top: 5px;
    padding-bottom: 20px;
  }
  .hotel-name {
    flex-basis: 100%;
  }
  .hotel-wrapper {
    justify-content: space-between;
  }
  .hotel-info {
    padding-bottom: 0;
    margin-bottom: 30px;
  }
  .hotel-info__text {
    width: 100%;
  }
  .hotel-info__name {
    margin-top: 10px;
  }
  .hotel-info__rating {
    display: none;
  }
  .hotel-info__offer {
    order: -1;
    margin: 0;
  }
  .hotel-right {
    flex-direction: column;
    height: auto;
    margin-top: 21px;
  }
  .hotel-slider {
    height: 300px;
  }
  .hotel-slider__item {
    height: 100%;
  }
  .booking {
    width: 100%;
    margin-right: 0;
    margin-bottom: 15px;
    height: 200px;
  }
  .map {
    width: 100%;
    height: 180px;
    margin-left: 0;
  }
  .stars {
    flex-basis: auto;
  }
  .newsletter {
    padding: 76px 15px 85px 15px;
  }
  .newsletter-container {
    flex-direction: column;
    align-items: start;
  }
  .newsletter-title {
    margin-bottom: 37px;
    font-size: 20px;
    line-height: 25px;
  }
  .newsletter-title__strong {
    margin-top: 5px;
    font-size: 30px;
    line-height: 38px;
  }
  .newsletter__subscribe {
    width: 70%;
  }
  .reviews-title {
    font-size: 18px;
    line-height: 23px;
    max-width: 245px;
    margin: auto;
    margin-bottom: 40px;
  }
  .reviews-slider__item {
    padding: 0 30px 30px;
  }
  .reviews-slider__item:after, .reviews-slider__item:before {
    display: none;
  }
  .reviews-slider__button {
    top: 32px;
  }
  .reviews-slider__button--prev {
    margin-left: -85px;
    left: 50%;
    transform: translate(-50%, 0);
  }
  .reviews-slider__button--next {
    margin-right: -85px;
    right: 50%;
    transform: translate(50%, 0);
  }
  .activities {
    padding: 20px 0 40px 0;
  }
  .activities__title {
    font-size: 18px;
    line-height: 23px;
    margin-bottom: 36px;
  }
  .card {
    width: 100%;
  }
  .card:nth-of-type(2) {
    order: 2;
  }
  .card:nth-of-type(4) {
    order: 3;
  }
  .card:nth-of-type(4) .card__title {
    max-width: 200px;
  }
  .card:nth-of-type(3) {
    margin-bottom: 24px;
  }
  .card__title {
    max-width: 170px;
  }
  .footer-wrapper {
    grid-template-columns: 1fr;
    grid-row-gap: 32px;
  }
  .footer__logo {
    grid-row: 1;
    grid-column: 1;
    width: 94px;
    height: 110px;
  }
  .footer__icon {
    margin-right: 5px;
  }
  .footer__title--inline {
    margin: 0 0 24px 0;
  }
  .footer__title--mb-3 {
    margin-bottom: 22px;
  }
  .footer__social-network {
    grid-row: 2;
    grid-column: 1;
    flex-direction: column;
    margin-left: 0;
  }
  .footer__legal {
    grid-row: 3;
    grid-column: 1;
    justify-self: start;
  }
  .footer__additional {
    grid-row: 4;
    grid-column: 1;
    margin-left: 0;
  }
  .footer__categories {
    grid-row: 5;
    grid-column: 1;
  }
  .footer__contact-details {
    grid-row: 6;
    grid-column: 1;
    padding-top: 0;
  }
  .footer__contact-form {
    grid-row: 7;
    grid-column: 1;
    padding-top: 16px;
    padding-right: 0px;
  }
  .footer-bot {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
  }
  .footer__message {
    margin-bottom: 0;
    height: 120px;
  }
  .footer__info {
    margin: 15px 0;
  }
  .footer__input {
    margin-bottom: 12px;
  }
  .footer__input-group {
    flex-basis: 100%;
  }
  .footer-bottom {
    display: flex;
    align-items: start;
    margin-top: 29px;
  }
  .footer-bottom__links {
    margin-bottom: 10px;
  }
  .footer-bottom__link {
    margin-right: 4px;
  }
  .footer-bottom__image {
    position: relative;
  }
  .footer__text {
    margin: 20px 0;
  }
  .modal__dialog {
    width: 80%;
  }
  .packages {
    margin-top: 20px;
  }
  .packages__title {
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 30px;
  }
  .packages-cards {
    grid-column-gap: 0;
    grid-template-columns: 1fr;
  }
  .packages-cards__card {
    flex-direction: row;
    grid-column: span 1;
  }
  .packages-cards__card:first-child {
    grid-column: span 1;
  }
  .packages-cards__card:first-child .information {
    padding: 30px 21px 25px 32px;
  }
  .packages-cards__picture {
    height: 100%;
  }
}

@media (max-height: 568px) {
  .modal__dialog {
    min-height: auto;
    height: auto;
    margin: 15px auto 15px;
  }
}

@media (max-width: 576px) {
  .logo {
    width: 99px;
  }
  .newsletter__subscribe {
    width: 100%;
  }
  .packages-cards__picture {
    height: 250px;
  }
  .packages-cards__card {
    flex-direction: column;
  }
  .packages-cards__card:first-child {
    flex-direction: column;
  }
  .packages-cards__card:first-child .information {
    max-width: 100%;
  }
  .packages-cards__card:first-child .information__text {
    display: none;
  }
  .packages-cards__card:first-child .information-hotel__stars {
    display: none;
  }
  .packages-cards__card:first-child .packages-cards__picture {
    min-height: 250px;
  }
  .packages-cards__card:first-child::before {
    content: 'Flash Offer';
    position: absolute;
    top: 26px;
    left: 0px;
    padding: 4px 9px;
    background-color: #EC1F46;
    color: #ffffff;
    border-radius: 0px 4px 4px 0px;
    font-weight: 600;
    font-size: 8px;
    line-height: 10px;
  }
}

@media (max-width: 460px) {
  .hotel-slider {
    height: 180px;
  }
}

@media (max-width: 370px) {
  .search__input {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */