@media (max-width: 1100px)
  .hotel
    &-slider
      max-width: 650px
  .logo
    width: 132px
  .navbar
    &-top
      padding-top: 30px
      padding-bottom: 30px
    &__search
      margin-left: auto
    &-menu
      padding-top: 22px
      padding-bottom: 22px
      &__link
        font-size: 12px
        line-height: 15px
  .search
    &__input
      width: 340px
  .card
    width: 230px
    height: 230px
  .packages
    &-cards
      &__card
        &:first-child
          .information__text
            font-size: 12px
@media  (max-width: 1000px)
  .card
    width: 220px
  .footer
    &__input
      flex-basis: 100%
  .information
    &__book
      flex-wrap: wrap
    &__price
      width: 100%
    &__button
      margin-top: 15px
@media (max-width: 992px)
  .search
    &__button
      &:hover
        background-color: $primary
  .navbar
    &-menu
      &__link
        &:hover
          color: $light
  .booking
    &__button
      &:hover
        background-color: $primary
  .information__button
    &:hover
      background-color: $primary
  .subscribe__button
    &:hover
      background-color: $primary
  .card__button
    &:hover
      background-color: $primary
  .footer__link
    &:hover
      color: $gray
  .footer__button
    &:hover
      background-color: $primary
@media (max-width:960px)
  .container
    padding: 0 30px
  .search
    &__input
      width: 320px
      padding-left: 10px
  .hotel
    &-grid
      flex-direction: column
      justify-content: space-between
    &-right
      flex-direction: row
      margin-top: 30px
      margin-left: 0px
      height: 210px
    &-slider
      margin: 0
      max-width: 100%
      &__item
        &__img
          width: 100%
  .booking
    width: 50%
    margin-right: 15px
  .map
    width: 50%
    margin-left: 15px
  .newsletter
    padding: 96px 22px 93px 27px
  .reviews
    &-title
      font-size: 30px
      line-height: 38px
      margin-bottom: 50px
    &-slider
      &__item
        max-width: 580px
      &__button
        &--prev
          left: 0
          top: 170px
        &--next
          right: 0
          top: 170px
  .activities
    padding: 40px 0 52px 0
    &-wrapper
      flex-wrap: wrap
    &__card
      margin-bottom: 20px
  .card
    width: 48%
    height: 255px
  .footer
    padding-top: 70px
    &-wrapper
      grid-template-columns: repeat(6, 1fr)
      grid-row-gap: 48px
    &__logo
      grid-row: 1
      grid-column: span 2
      width: 95px
      height: auto
    &__social
      &-network
        grid-row: 1 / 2
        grid-column: span 4
        align-self: center
    &__categories
      grid-row: 2 / 3
      grid-column: span 2
    &__additional
      grid-row: 2 / 3
      grid-column: span 2
    &__legal
      grid-row: 2 / 3
      grid-column: span 2
    &__contact
      &-details
        grid-row: 3
        grid-column: span 6
        padding-top: 15px
      &-form
        grid-row: 4
        grid-column: span 5
        padding-right: 36px
    &__input
      flex-basis: 49%
    &-bottom
      margin-top: 54px
      &__links
        margin: 0
    &__text
      margin: 14px 0
  .modal
    &__dialog
      padding: 15px 30px
  .packages
    &-cards
      grid-row-gap: 20px
      grid-template-columns: repeat(2, 1fr)

@media (max-width: 800px)
  .footer
    &__input
      &-group
        width: 100%
  .modal
    &__button
      width: 100%
    &__info
      margin-top: 10px
@media (max-width: 640px)
  .container
    padding: 0 20px
  body
    padding-top: 70px
  .navbar
    &-top
      padding-top: 24px 
      padding-bottom: 24px
    &-mobile
      &-fixed
        position: fixed
        left: 0
        top: 0
        right: 0
        z-index: 99
    &__search
      &--mobile
        &--hidden
          display: none
        &--visible
          display: flex
          margin-bottom: 39px
    &__user
      flex-direction: column
      justify-content: center
      &--mobile
        &--hidden
          display: none
        &--visible
          display: flex
    &-bottom
      display: none
      position: fixed
      left: 0
      right: 0
      bottom: 0
      top: 78px
      padding-top: 30px
      &--visible
        display: block
    &-menu
      flex-direction: column
      &__item
        margin-bottom: 20px
        &--mobile
          &--visible
            display: block
  .menu
    &-button
      display: flex
      padding: 0
      width: 16px
      height: 11px
      align-items: center
      justify-content: space-between
      flex-direction: column
      border: none
      background-color: #fff
      cursor: pointer
      &__line
        width: 16px
        height: 1px
        background-color: #333
  .user
    &__name
      &--light
        color: $light
        margin-left: 0
        margin-top: 10px
  .hotel
    padding-top: 5px
    padding-bottom: 20px
    &-name
      flex-basis: 100%
    &-wrapper
      justify-content: space-between
    &-info
      padding-bottom: 0
      margin-bottom: 30px
      &__text
        width: 100%
      &__name
        margin-top: 10px
      &__rating
        display: none
      &__offer
        order: -1
        margin: 0
    &-right
      flex-direction: column
      height: auto
      margin-top: 21px
    &-slider
      height: 300px
      &__item
        height: 100%
  .booking
    width: 100%
    margin-right: 0
    margin-bottom: 15px
    height: 200px
  .map
    width: 100%
    height: 180px
    margin-left: 0
  .stars
    flex-basis: auto
  .newsletter
    padding: 76px 15px 85px 15px
    &-container
      flex-direction: column
      align-items: start
    &-title
      margin-bottom: 37px
      font-size: 20px
      line-height: 25px
      &__strong
        margin-top: 5px
        font-size: 30px
        line-height: 38px
    &__subscribe
      width: 70%
  .reviews
    &-title
      font-size: 18px
      line-height: 23px
      max-width: 245px
      margin: auto
      margin-bottom: 40px
    &-slider
      &__item
        padding: 0 30px 30px
        &:after, &:before
          display: none
      &__button
        top: 32px
        &--prev
          margin-left: -85px
          left: 50%
          transform: translate(-50%, 0)
        &--next
          margin-right: -85px
          right: 50%
          transform: translate(50%, 0)
  .activities
    padding: 20px 0 32px 0
    &__title
      font-size: 18px
      line-height: 23px
      margin-bottom: 36px
  .card
    width: 100%
    &:nth-of-type(2)
      order: 2
    &:nth-of-type(4)
      order: 3
    &:nth-of-type(3)
      margin-bottom: 24px
    &__title
      max-width: 160px
  .footer
    &-wrapper
      grid-template-columns: 1fr
      grid-row-gap: 34px
    &__logo
      grid-row: 1
      grid-column: 1
    &__title
      &--inline
        margin: 0 0 24px 0
      &--mb-3
        margin-bottom: 22px
    &__social
      &-network
        grid-row: 2
        grid-column: 1
        flex-direction: column
    &__legal
      grid-row: 3
      grid-column: 1
      justify-self: start
    &__additional
      grid-row: 4
      grid-column: 1
    &__categories
      grid-row: 5
      grid-column: 1
    &__contact
      &-details
        grid-row: 6
        grid-column: 1
        padding-top: 0
      &-form
        grid-row: 7
        grid-column: 1
        padding-top: 10px
        padding-right: 0px
    &-bot
      display: flex
      flex-direction: column-reverse
      align-items: flex-start
    &__message
      margin-bottom: 0
      height: 120px
    &__info
      margin: 15px 0
    &__input
      &-group
        flex-basis: 100%
    &-bottom
      display: flex
      align-items: start
      margin-top: 19px
      &__links
        margin-bottom: 10px
      &__link
        margin-right: 5px
      &__image
        position: relative
    &__text
      margin: 20px 0
  .modal
    &__dialog
      width: 80%
  .packages
    margin-top: 20px
    &__title
      font-size: 20px
      line-height: 25px
      margin-bottom: 30px
    &-cards
      grid-column-gap: 0
      grid-template-columns: 1fr
      &__card
        flex-direction: row
        grid-column: span 1
        &:first-child
          grid-column: span 1
          .information
            padding: 30px 21px 25px 32px
      &__picture
        height: 100%
@media (max-height: 568px)
  .modal
    &__dialog
      min-height: auto
      height: auto
      margin: 15px auto 15px
@media (max-width: 576px)
  .logo
    width: 99px
  .newsletter
    &__subscribe
      width: 100%
  .packages
    &-cards
      &__picture
        height: 250px
      &__card
        flex-direction: column
        &:first-child
          flex-direction: column
          .information
            max-width: 100%
          .information__text
            display: none
          .information-hotel__stars
            display: none
          .packages-cards__picture
            min-height: 250px
          &::before
            content: 'Flash Offer'
            position: absolute
            top: 26px
            left: 0px
            padding: 4px 9px
            background-color: $primary
            color: $light
            border-radius: 0px 4px 4px 0px
            font-weight: 600
            font-size: 8px
            line-height: 10px
@media (max-width: 460px)
  .hotel
    &-slider
      height: 180px
@media (max-width: 370px)
  .search
    &__input
      width: 100%
