@media (max-width: 1100px)
  .hotel
    &-slider
      max-width: 650px
  .logo
    width: 132px
  .navbar
    &-top
      padding-top: 30px
      padding-bottom: 30px
    &__search
      margin-left: auto
    &-menu
      padding-top: 22px
      padding-bottom: 22px
      &__link
        font-size: 12px
        line-height: 15px
  .search
    &__input
      width: 340px
  .card
    width: 230px
    height: 230px
@media (max-width: 1050px)
  .footer
    &__input
      flex-basis: 100%
@media  (max-width: 1000px)
  .card
    width: 220px
@media (max-width:960px)
  .hotel
    &-grid
      flex-direction: column
      justify-content: space-between
    &-right
      flex-direction: row
      margin-top: 30px
    &-slider
      margin: 0
      max-width: 100%
      &__item
        &__img
          width: 100%
  .booking
    width: 50%
    margin-right: 15px
  .map
    width: 50%
    margin-left: 15px
  .reviews
    &-title
      font-size: 30px
      line-height: 38px
      margin-bottom: 50px
    &-slider
      &__item
        max-width: 580px
  .activities
    padding: 40px 0 60px 0
    &-wrapper
      flex-wrap: wrap
    &__card
      margin-bottom: 20px
  .card
    width: 48%
    height: 230px
  .footer
    &-wrapper
      grid-template-columns: repeat(6, 1fr)
      grid-row-gap: 40px
    &__logo
      grid-row: 1 / 2
      grid-column: span 2
    &__social
      &-network
        grid-row: 1 / 2
        grid-column: span 3
    &__categories
      grid-row: 2 / 3
      grid-column: span 2
    &__additional
      grid-row: 2 / 3
      grid-column: span 2
    &__legal
      grid-row: 2 / 3
      grid-column: span 2
    &__contact
      &-details
        grid-row: 3/ 4
        grid-column: 1 / 4
      &-form
        grid-row: 3 / 4
        grid-column: 4 / 7
    
@media (max-width: 640px)
  .navbar
    &__search, &-menu, &__user
      display: none
  .menu
    &-button
      display: flex
      padding: 0
      width: 16px
      height: 11px
      align-items: center
      justify-content: space-between
      flex-direction: column
      border: none
      background-color: #fff
      cursor: pointer
      &__line
        width: 16px
        height: 1px
        background-color: #333
  .hotel
    &-name
      flex-basis: 100%
    &-wrapper
      justify-content: space-between
    &-info
      &__text
        width: 100%
      &__name
        margin-top: 10px
      &__rating
        display: none
      &__offer
        order: -1
        margin: 0
    &-right
      flex-direction: column
    &-slider
      height: 300px
      &__item
        height: 100%
  .booking
    width: 100%
    margin-right: 0
    margin-bottom: 30px
  .map
    width: 100%
    margin-left: 0
  .stars
    flex-basis: auto
  .newsletter
    padding: 76px 15px 33px 15px
    &-container
      flex-direction: column
      align-items: start
    &-title
      margin-bottom: 37px
      font-size: 20px
      line-height: 25px
      &__strong
        margin-top: 5px
        font-size: 30px
        line-height: 38px
    &__subscribe
      width: 70%
  .reviews
    &-title
      font-size: 18px
      line-height: 23px
    &-slider
      &__item
        padding: 0 30px 30px
        &:after, &:before
          display: none
      &__button
        top: 32px
        &--prev
          margin-left: -65px
          left: 50%
          transform: translate(-50%, 0)
        &--next
          margin-right: -65px
          right: 50%
          transform: translate(50%, 0)
  .activities
    &__title
      font-size: 18px
      line-height: 23px
      margin-bottom: 36px
  .card
    width: 100%
  .footer
    &__contact-form
      grid-row: 4
      grid-column: span 5
@media (max-width: 576px)
  .logo
    width: 99px
  .newsletter
    &__subscribe
      width: 100%
@media (max-width: 460px)
  .hotel
    &-slider
      height: 210px
