.modal
  &__overlay
    position: fixed
    right: 0
    left: 0
    top: 0
    bottom: 0
    background-color: rgba(0, 143, 223, 0.39)
    z-index: 100
    visibility: hidden
    opacity: 0
    transition: opacity 0.3s
    &.active
      visibility: visible
      opacity: 1
  &__dialog
    position: fixed
    right: 0
    top: 0
    bottom: 0
    left: 0
    // top: 50%
    // left: 50%
    margin: auto
    padding: 33px 88px
    max-width: 478px
    min-height: 487px
    height: min-content
    // transform: translate(-50%, -50%)
    background-color: $dark
    color: $light
    border-radius: 8px
    z-index: 101
    overflow-y: auto
    visibility: hidden
    opacity: 0
    transition: opacity 0.3s
    &.active
      visibility: visible
      opacity: 1
  &__close
    position: absolute
    right: 18px
    top: 17px
    background-color: transparent
    border: none
    cursor: pointer
    outline: none
  &__input
    width: 100%
    margin-bottom: 15px
  &__message
    min-height: 123px
    margin-bottom: 15px
  &__info
    font-weight: bold
    font-size: 12px
    line-height: 15px
    color: #E0E0E0
  &__title
    font-weight: bold
    font-size: 18px
    line-height: 23px
    text-transform: uppercase
    text-align: center
    margin: 0 0 15px 0
